/MapRevealer/bin/*
/.vs/MapRevealer/v17/*
/.vs/MapRevealer/v16/*
/MapRevealer/bin/*
/MapRevealer/bin/*
/MapRevealer/obj/*
/MapRevealer/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/MapRevealer/obj/Debug/net6.0-windows/App.g.cs
/MapRevealer/obj/Debug/net6.0-windows/App.g.i.cs
/MapRevealer/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.i.cs
/MapRevealer/obj/Debug/net6.0-windows/MainWindow.baml
/MapRevealer/obj/Debug/net6.0-windows/MainWindow.g.cs
/MapRevealer/obj/Debug/net6.0-windows/MainWindow.g.i.cs
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer.assets.cache
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer.csproj.AssemblyReference.cache
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer.csproj.CoreCompileInputs.cache
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer.csproj.FileListAbsolute.txt
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer.dll
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer.g.resources
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer.GeneratedMSBuildEditorConfig.editorconfig
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer.pdb
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer_MarkupCompile.cache
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer_MarkupCompile.i.cache
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer_MarkupCompile.i.lref
/MapRevealer/obj/Debug/net6.0-windows/MapRevealer_MarkupCompile.lref
/MapRevealer/obj/Debug/net6.0-windows/ref/MapRevealer.dll
/MapRevealer/obj/Debug/net6.0-windows/refint/MapRevealer.dll
/.vs/*
DrawCanvas/bin/
*/bin/*
*/obj/*
